.listContainer {
    width: 56rem;
    background-color: white;
    padding: 1% 2%;
    box-shadow: var(--shadow-dp-02);
    border-radius: 5px;
}

.searchCreate {
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    padding: 0 2%;
}

.table > thead {
    background-color: red;
}