.listTitleContainer {
    text-align: center;
}

.listTitle {
    font-size: 2em;
    margin: 1rem;
}

.listContainer {
    width: 56rem;
    background-color: white;
    padding: 1% 2%;
    box-shadow: var(--shadow-dp-02);
    border-radius: 5px;
}

.searchCreate {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 1200px) {
    .listContainer {
        width: 35rem;
        transform: scale(0.9);
    }

    .listTitle {
        font-size: 1.5em;
    }

    .formContainer {
        transform: scale(0.9);
    }
}