.organization-donorlist-col {
    display: grid;
    grid-template-columns: 270px auto;
}

@media only screen and (max-width: 800px) {
    .organization-donorlist-col {
        display: grid;
        grid-template-columns: 60px auto;
    }
}

.organization-donorlist-col .site-page-header {
    border: 1px solid rgb(235, 237, 240);
    background-color: white;
}