.organization-homepage-col{
    display: grid;
    grid-template-columns: 270px auto;
}
@media only screen and (max-width: 800px) {
    .organization-homepage-col{
        display: grid;
        grid-template-columns: 60px auto;
    }}