.mainBackground {
    background-image: url('../assets/login-background.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.container {
    position: absolute;
    left: 60%;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    width: 470px;
    height: 643px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 3px 1px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 50px;
}

@media only screen and (max-width: 1200px) {
    .container {
        width: 400px;
        left: 50%;
        top: 10%;
        transform: translateX(-50%);
    }
}

.title, .formLabel, .underInfo {
    font-weight: 700;
    text-align: center;
}

.title {
    color: #12232F;
    padding-bottom: 20px;
    font-size: 33px;
}

.underInfo {
    font-family: 'Inter';
    font-weight: 400;
}

.btn {
    width: 100%;
    background: #1F364B;
    color: white;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.25);
    border: 0px;
    border-radius: 10px;
    margin: 20px 0;
    font-size: 16px;
    font-weight: 600;
}

.link {
    color: black;
    font-weight: 700;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 300px;
        left: 50%;
        top: 10%;
        transform: translateX(-50%);
    }
}