.ad-manage-org-container{
    margin-left: 270px;
    padding: 3% 8%;
}

.admin-manage-org-content{
    background: white;
    padding: 10px 20px;
    margin-top: 30px;
}

.ad-manage-org-container .ant-table-thead .ant-table-cell{
    text-align: center;
}

.admin-manage-org-title{
    text-align: center;
    font-weight: 700;
    font-size: 26px;
}

@media screen and (max-width:800px) {
    .ad-manage-org-container{
        margin-left: 60px;
    }
}