.mainBackground {
    background-color: var(--blue-02);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.mainBackgroundInternet {
    background-image: url('../assets/No-Internet.png');
}

.mainBackground404 {
    background-image: url('../assets/404-background.png');
}

.organization404 {
    background-image: url('../assets/Organization-404.png');
}