.campaign-container {
    display: flex;
    padding: 12% 5%;
    padding-bottom: 3%;
}

.filter-campaign-list {
    display: flex;
}

#campaign-container .ant-list-item {
    border-radius: 5px;
}

/* Filter table style ----------------------------------------------------------*/

.filter-table {
    background-color: white;
    width: 27%;
    min-width: 215px;
    height: fit-content;
    margin-right: 40px;
    margin-bottom: 30px;
    padding: 30px 15px 0px 30px;
    box-shadow: var(--shadow-dp-02);
    position: sticky;
    top: 25%;
    border-radius: 5px;

}

.filter-table p {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 0.6em;
}

.filter-by-blood {
    margin-bottom: 20px;
}

.filter-item label {
    font-size: 16px;
}

.filter-item {
    height: 35px;
}


/* datepicker & search style --------------------------------------------------*/
.date-seach {
    display: flex;
    margin-bottom: 30px;
}

.date-seach .ant-picker-range {
    height: 35px;
    width: 40%;
    border-radius: 5px;
}


.date-seach .ant-input-group-wrapper input,
.date-seach .ant-input-group-wrapper button {
    height: 35px;
}

.date-seach .ant-input-search-button {
    background-color: var(--primary-900) !important;
}

#campaign-container span.ant-input-affix-wrapper.cam-search {
    width: 57%;
    border-radius: 5px;
}

/*-----------campaign CARD------------*/

.search-campaign .ant-list {
    margin-left: 4px;
}

.search-campaign .ant-list-lg .ant-list-item {
    padding: 0;
}

.search-campaign .ant-list-item-extra {
    width: 100%;
    height: 190px;
    overflow: hidden;
    align-items: center;
    margin-top: 5px;
    /* margin: 0; */
}

.search-campaign .campaign-name {
    display: block;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: black;
    /* text-transform: uppercase; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search-campaign .campaign-address {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: black;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search-campaign .campaign-time {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}



.search-campaign .ant-list-item-extra img {
    width: 100%;
    height: 95%;
    border-radius: 8px;
    transform: scale(1);
    /* cho ảnh fix với div */
    max-width: 100%;
    object-fit: contain;
}

.search-campaign .campaign-report {
    border-left: 0.5px solid rgba(0, 0, 0, 0.196);
}

#campaign-container .ant-list-grid .ant-col>.ant-list-item {
    display: flex;
    font-size: 14px;
    box-shadow: var(--shadow-dp-01);
    width: 97%;

}

#campaign-container .ant-list-vertical .ant-list-item-extra {
    margin: auto 0;
    width: 42%;
    margin-left: 10px;
}

#campaign-container .ant-list-vertical .ant-list-item-meta-title {
    margin-bottom: 5px;
}

.search-campaign .ant-list-item-main {
    width: 60%;
}

.search-campaign .ant-list-vertical .ant-list-item-meta {
    margin-bottom: 5px;
}

.search-campaign .ant-list-item-meta-title {
    margin-bottom: 5px;
}

.search-campaign .ant-list-vertical .ant-list-item-action {
    margin-top: 5px;
}


.camp-time {
    color: rgb(149, 149, 149);
}

.camp-address {
    margin-bottom: 5px;
    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* pagination style */
.search-campaign .ant-pagination {
    text-align: center;
}

/* emergency camp list */
#donor-emergency-campaign {
    border-radius: 5px;
}

#donor-emergency-campaign .donor-emergency-campaign-title {
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    padding-bottom: 10px;
}

#donor-emergency-campaign {
    background-color: white;
    padding: 15px;
    box-shadow: var(--shadow-dp-01);
    height: fit-content;
    margin-left: 20px;

    position: sticky;
    top: 25%;

}

#donor-emergency-campaign p {
    margin: 0;

}

#donor-emergency-campaign .ant-list-split .ant-list-item {
    padding: 0;
    margin-bottom: 20px;
    box-shadow: var(--shadow-dp-01);
    border-radius: 5px;
    height: fit-content;
}



#donor-emergency-campaign .donor-emergency-campaign-org {
    max-height: 45px;
    overflow: hidden;
    font-weight: 600;
    margin-bottom: 10px;
}

@media screen and (min-width:500px) and (max-width:650px) {
    .campaign-container {
        display: block;

        padding: 25% 5% 10% 5%;
    }

    #donor-emergency-campaign {
        background-color: hsl(194, 100%, 97%);
        box-shadow: none;
    }

  
    #donor-emergency-campaign .ant-list-items {
        display: flex;
        flex-direction: row;
        justify-content: space-around
    }

    
    #donor-emergency-campaign .ant-list-item {
        height: 100%;

    }

    #donor-emergency-campaign .donor-emergency-campaign-org {
        height: 45px;
        overflow: hidden;
    }

}


@media only screen and (min-width:651px) and (max-width: 899px) {
    .campaign-container {
        display: block;
        padding: 17% 5% 8% 5%;
    }

    #campaign-container .ant-list-item-main {
        min-width: 220px;

    }

    #campaign-container .ant-list-item-extra {
        min-width: 165px;

    }

    #donor-emergency-campaign {
        background-color: hsl(194, 100%, 97%);
        box-shadow: none;
    }

    #donor-emergency-campaign .ant-list-items {
        display: flex;
        flex-direction: row;
        justify-content: space-around
    }

    #donor-emergency-campaign .ant-list-item {
        height: 100%;

    }

    #donor-emergency-campaign .donor-emergency-campaign-org {
        height: 45px;
        overflow: hidden;
    }

    .filter-table {
        position: sticky;
        top: 10%;

    }


}

@media only screen and (min-width: 901px) and (max-width: 1100px) {
    .campaign-container {
        display: block;
        padding: 13% 13% 6% 13%;
    }

    #donor-emergency-campaign {
        background-color: hsl(194, 100%, 97%);
        box-shadow: none;
    }

    #donor-emergency-campaign .ant-list-items {
        display: flex;
        flex-direction: row;
        justify-content: space-around
    }

    #donor-emergency-campaign .ant-list-item {
        height: 100%;

    }

    #donor-emergency-campaign .donor-emergency-campaign-org {
        height: 45px;
        overflow: hidden;
    }

    .filter-table {


        position: sticky;
        top: 13%;

    }
}

@media only screen and (min-width: 1101px) and (max-width: 1240px) {
    .campaign-container {
        display: block;
        padding: 12% 13% 7% 13%;
    }

    #donor-emergency-campaign {
        background-color: hsl(194, 100%, 97%);
        box-shadow: none;
    }

    #donor-emergency-campaign .ant-list-items {
        display: flex;
        flex-direction: row;
        justify-content: space-around
    }

    #donor-emergency-campaign .ant-list-item {
        height: 100%;

    }

    #donor-emergency-campaign .donor-emergency-campaign-org {
        height: 45px;
        overflow: hidden;
    }

    .filter-table {


        position: sticky;
        top: 13%;

    }
}

@media only screen and (min-width: 1281px) {
    .campaign-container {
        /* display: flex; */
        padding: 10% 15%;
        /* padding-bottom: 3%; */
    }

    .filter-table {


        position: sticky;
        top: 15%;

    }

    #donor-emergency-campaign {

        position: sticky;
        top: 15%;

    }

}