/* edit buttons position */
.registered-buttons .edit-date-time{
    display: inline-block;
    margin-right: 20px;
}

.registered-buttons  .cancel-camp{
    margin-right: 20px;
    border-color: var(--primary-600) !important;
    color: black;
}

/* customize button of antd modal */
.cancel-confirm .ant-btn-primary{
    border-color: var(--primary-600) !important;
    background:  var(--primary-600) !important;
}

.cancel-confirm .ant-btn-primary:active{
    border-color: var(--primary-600);
    background:  var(--primary-600);
}