.ad-manage-campaign-container{
    margin-left: 270px;
    padding: 2% 9%;
}

.admin-manage-campaign-content{
    background: white;
    padding: 10px 20px;
    margin-top: 30px;
}

.ad-manage-campaign-container .ant-table-thead .ant-table-cell{
    text-align: center;
}

.admin-manage-campaign-title{
    text-align: center;
    font-size: 1.5rem;
}

.admin-cam-search-box{
    width: 70%;
}