@import "../../../../index";
#admin-news-list {

    padding: 2% 8%;
    text-align: center;
}
.news-list-breadcrumb {
    background-color: white;
    box-shadow: var(--shadow-dp-02);
}
#admin-news-list .admin-list-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    padding: 3% 0 2% 0;
}

#admin-news-list table {
    border-radius: 5px;
}

#admin-news-list .admin-list-table {
    background-color: white;
    padding: 1.5% 4%;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
}

#admin-news-list .admin-list-tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#admin-news-list .admin-list-search {
    padding: 1.5% 0 1% 0;
    border-radius: 5px;
    margin-bottom: 1%;
    text-align: left;
    width: 50%;
}