/* Overall */
.mainContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 110px;
    padding-bottom: 100px;
    margin-left: 270px;
}

.donorSideBar {
    margin-top: 90px;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    z-index: 2;
}

.breadcrumb {
    margin-top: 90px;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    z-index: 2;
}

.infoContainer, .leftContainer, .infoContainerHistory {
    margin: 0 20px;
    background-color: white;
    height: auto;
    padding: 20px 20px;
    box-shadow: var(--shadow-dp-02);
    border-radius: 5px;
}

.infoContainer {
    width: 510px;
}

.infoContainerHistory {
    width: 700px;
}

.leftContainer {
    width: 270px;
    text-align: center;
    margin-bottom: 20px;
}

.leftContainerMain {
    width: 270px;
    text-align: center;
}

@media only screen and (max-width: 1280px) {
    .infoContainerHistory {
        width: 90%;
    }
}

@media only screen and (max-width: 800px) {
    .mainContainer {
        margin-left: 0;
    }

    .leftContainerMain {
        transform: scale(0.8);
    }

    .infoContainer {
        width: 90%;
    }

    .infoContainerHistory {
        width: 100%;
        transform: scale(0.8);
    }
}

/* Buttons */

#btn1 {
    background-color: var(--primary-600);
    color: white;
    box-shadow: var(--shadow-dp-01);
    border: 0px;
    margin: 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
}

#btn1:hover, #btn1:focus {
    background-color: var(--primary-800);
    color: white;
}

#btn2 {
    color: black;
    box-shadow: var(--shadow-dp-01);
    border: 0px;
    margin: 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
}

#btn2:hover, #btn2:focus {
    background-color: var(--secondary-200);
    color: black;
}

/* Basic Info, Change Password Page */

.title, .formLabel, .subFormLabel {
    font-weight: 600;
    text-align: center;
}

.title {
    color: var(--secondary-900);
    margin: 0%;
    font-size: 18px;
    padding: 15px 0;
}

.formLabel {
    margin-bottom: 20px;
}

.subFormLabel {
    margin-bottom: 0px;
}

/* QnA page */
.questionPanel {
    border: 0px;
    border-radius: 2px;
    color: black;
    box-shadow: var(--shadow-dp-01);
    font-weight: 600;
}

.questionPanel li {
    padding: 0.8% 5%;
    list-style-type: disc;
}

/* Voucher Page */
.innerTitle {
    color: var(--secondary-900);
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}

.uploader {
    width: 470px;
    height: 470px;
}

.voucherContainer {
    text-align: center;
}

.img {
    width: 70%;
}