@import "../../index.css";
#template-table {
    padding: 2% 8%;
    text-align: center;
}

#template-table .donor-list-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    padding: 3% 0 2% 0;
}

#template-table table{
    border-radius: 5px;
}
#template-table .donor-list-table{
    background-color: white;
    padding: 1.5% 4%;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
}
#template-table .donor-list-search{
    padding: 1.5% 0 1% 0;
    border-radius: 5px;
    margin-bottom: 1%;
    text-align: left;
    margin-left: 50%;
    width: 50%;
}