@import '../Login/login.module.css';

.mainBackground {
    background-image: url('../../assets/changePassword-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.container {
    position: absolute;
    left: 60%;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    width: 470px;
    height: auto;
    box-shadow: var(--shadow-dp-02);
    border-radius: 5px;
    padding: 50px;
}


@media only screen and (max-width: 1300px) {
    .container {
        left: 50%;
        top: 10%;
        transform: translateX(-50%);
    }
}

.title, .formLabel {
    font-weight: 700;
    text-align: center;
}

.title {
    padding-bottom: 10px;
    font-size: 33px;
}

.info {
    text-align: center;
}

.btn2 {
    width: 100%;
    color: black;
    box-shadow: var(--shadow-dp-02);
    border: 2px solid var(--blue-01);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
}

.btn2:hover, .btn2:focus {
    border-color: black;
    color: black;
}

.btn1 {
    width: 100%;
    background: var(--blue-01);
    color: white;
    box-shadow: var(--shadow-dp-02);
    border: 0px;
    border-radius: 5px;
    margin: 20px 0;
    font-size: 16px;
    font-weight: 600;
}

.btn1:hover, .btn1:focus {
    background-color: black;
    color: white;
}

.link {
    color: black;
    font-weight: 700;
}