#homepage h1 {
    font-weight: 800 !important;
    font-size: 50px;
    line-height: 65px;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    margin-bottom: 0.4rem !important;
    color: #1F364B;

}

#homepage h2 {
    font-weight: 700 !important;
    font-size: 28px;
    line-height: 39px;
    text-transform: uppercase;
    padding: 5% 0 1% 0;
    color: #1F364B;
}

#homepage h3 {
    font-weight: 500 !important;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 1rem;
}

#homepage h4 {
    font-weight: 600 !important;
    font-size: 16px;
    line-height: 28px;
}

#homepage p,
#homepage li {
    font-weight: 500 !important;
    font-size: 15px;
    line-height: 22px;
    margin: 0 0 !important;
}

@media only screen and (max-width: 950px) {
    #homepage h1 {
        font-size: 42px !important;
        line-height: 56px !important;
    }
    #homepage h2{
        font-size: 22px !important;
        line-height: 30px;
        padding: 8% 0 2% 0;
    }
    #homepage h3 {
        font-size: 16px !important;
        line-height: 25px !important;
    }
    #homepage h4 {
        font-size: 12px !important;
        line-height: 20px !important;
    }
}

@media only screen and (max-width: 740px) {
    #homepage h1 {
        font-size: 30px !important;
        line-height: 45px !important;
    }
    #homepage h2{
        font-size: 18px !important;
        line-height: 24px !important;
        padding: 10% 0 3% 0;
    }
    #homepage h3 {
        font-size: 12px !important;
        line-height: 20px !important;
    }
    #homepage h4 {
        font-size: 10px !important;
        line-height: 15px !important;
    }
}