.news-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    padding: 50px 80px;
    height: 100%;
    width: 1200px;
    grid-gap: 50px;
    background-color: hsl(194, 100%, 97%);
    margin-left: auto;
    margin-right: auto;
}

.search-news {
    grid-column: 2/6;
    margin-left: auto;
    margin-right: auto;
}

.search-numRe {
    display: flex;
    margin-bottom: 30px;
}

/* set width cho search box và the p kết quả */
/* .ant-input-group-wrapper{
    width: 0%;
} */
.search-numRe p {
    width: 20%;
    margin-left: 20px;

}

/* bỏ pd các news item */
.news-items {
    padding: 0;
    list-style: none;
    max-width: 740px;

}

/* style cho từng news */
.news-item {
    background-color: white;
    cursor: pointer;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 20px;
    /* dùng grid cho từng news */

    box-sizing: border-box;
    max-height: 220px;

    overflow: hidden;
    max-width: 740px;
    color: black;
    display: flex;
    justify-content: space-around;
}

.news-item:hover {
    color: black;
}

.news-item img {
    width: 100%;

}

.news-item-content {
    max-height: 160px;
    max-width: 380px;
    overflow: hidden;
    font-size: 13px;

}

.news-item-content p {
    line-height: 24px;
    font-size: 14px;
}

.news-container .title {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
    max-height: 25px;
    overflow: hidden;
}

.news-item-img {
    width: 270px;
    height: 170px;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}