@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    /* Color */
    /* Primary */
    --primary-1000: #990102;
    --primary-900: #b6292a;
    --primary-800: #c63335;
    --primary-700: #d3393b;
    --primary-600: #e54242;
    --primary-500: #f44a43;
    --primary-400: #EE5A5B;
    --primary-300: #E3787B;
    --primary-200: #ED9DA0;
    --primary-100: #FDCFD5;
    --primary-050: #FEECEF;
    /* Secondary */
    --secondary-900: #0C0C0C;
    --secondary-800: #2D2D2D;
    --secondary-700: #4A4A4A;
    --secondary-600: #5D5D5D;
    --secondary-500: #848484;
    --secondary-400: #A5A5A5;
    --secondary-300: #CBCBCB;
    --secondary-200: #DEDEDE;
    --secondary-100: #ECECEC;
    --secondary-050: #F6F6F6;
    /* Background */
    --background-01: #F6F6F6;
    --background-02: #B5D7EB;
    /* Blue */
    --blue-01: #184A78;
    --blue-02: #BDE7FF;
    --blue-03: #98D2F3;
    --blue-04: #3F7EE8;

    /* Shadow */
    --shadow-dp-01: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
    --shadow-dp-02: 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 3px 1px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
    --shadow-dp-03: 0px 3px 4px rgba(0, 0, 0, 0.14), 0px 3px 3px rgba(0, 0, 0, 0.12), 0px 1px 8px rgba(0, 0, 0, 0.2);
    --shadow-dp-04: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
    --shadow-dp-06: 0px 6px 10px rgba(0, 0, 0, 0.14), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 3px 5px rgba(0, 0, 0, 0.2);
    --shadow-dp-08: 0px 8px 10px rgba(0, 0, 0, 0.14), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 5px 5px rgba(0, 0, 0, 0.2);
    --shadow-dp-09: 0px 9px 12px rgba(0, 0, 0, 0.14), 0px 3px 16px rgba(0, 0, 0, 0.12), 0px 5px 6px rgba(0, 0, 0, 0.2);
    --shadow-dp-12: 0px 12px 17px rgba(0, 0, 0, 0.14), 0px 5px 22px rgba(0, 0, 0, 0.12), 0px 7px 8px rgba(0, 0, 0, 0.2);
    --shadow-dp-16: 0px 16px 24px rgba(0, 0, 0, 0.14), 0px 6px 30px rgba(0, 0, 0, 0.12), 0px 8px 10px rgba(0, 0, 0, 0.2);
    --shadow-dp-24: 0px 24px 38px rgba(0, 0, 0, 0.14), 0px 9px 46px rgba(0, 0, 0, 0.12), 0px 11px 15px rgba(0, 0, 0, 0.2);
}

body {

    margin: 0;
    font-family: 'Inter', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: hsl(194, 100%, 97%) !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.avatar-uploader,
.avatar-uploader-trigger,
.avatar {
    width: 470px;
    height: 470px;
}

.avatar-uploader {
    display: block;
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
}

.avatar-uploader-trigger {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
}